#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>

&mt {
    tapping-term-ms = <170>;
};


/ {
    keymap {
        compatible = "zmk,keymap";

        default_layer {
            // ------------------------------------------------------------------------------------------------------------------
            // |   TAB   |   Q    |   W    |   E    |   R    |   T    |    Y    |   U     |   I    |   O    |    P    |  BSPC   |
            // |   ESC   |   A    |   S    |   D    |   F    |   G    |    H    |   J     |   K    |   L    |    ;    |   '     |
            // |  SHIFT  |   Z    |   X    |   C    |   V    |   B    |    N    |   M     |   ,    |   .    |    /    |   RET   |
            // |         |  LCTL  |  LALT  |  LGUI  |  LOWR  |      SPACE       |   RAIS  |  LARW  |  DARW  |  UARW   |   RARW  |
            // ------------------------------------------------------------------------------------------------------------------
            bindings = <
                &kp TAB    &kp Q    &kp W    &kp E    &kp R    &kp T     &kp Y     &kp U    &kp I    &kp O     &kp P     &kp BSPC
           &mt ESC TILDE   &kp A    &kp S    &kp D    &kp F    &kp G     &kp H     &kp J    &kp K    &kp L     &kp SEMI  &kp SQT
           &mt LSHFT CAPS  &kp Z    &kp X    &kp C    &kp V    &kp B     &kp N     &kp M   &kp COMMA &kp DOT   &kp SLASH &mt RSHFT RET
        &mt LC(DOWN) LC(UP) &kp LCTL &kp LALT &kp LGUI  &mo 1  &kp SPACE  &kp SPACE  &mo 2  &mt RA(LEFT) LEFT  &mt RA(DOWN) DOWN  &mt RA(UP) UP  &mt RA(RIGHT) RIGHT
            >;
        };

        lower {
            // ------------------------------------------------------------------------------------------------------------------
            // |    ~    |   !    |   @    |   #    |   $    |   %    |    ^    |    &    |   *    |   (    |    )    |  BSPC   |
            // |   ESC   |   1    |   2    |   3    |   4    |   5    |    6    |    7    |   8    |   9    |    0    |   |     |
            // |  SHIFT  |   ___  |  ___   |  ___   |  ___   |  ___   |    +    |    -    |   =    |   {    |    }    |   RET   |
            // |         |  ___   |  ___   |  ___   |  ___   |      SPACE       |   lyr3  |  next  |  vol dn|  vol up |play/pause|
            // ------------------------------------------------------------------------------------------------------------------
            bindings = <
                &kp TILDE  &kp EXCL &kp AT   &kp HASH &kp DOLLAR &kp PRCNT &kp CARET &kp AMPS  &kp ASTRK &kp LPAR  &kp RPAR  &trans
                &trans     &kp N1   &kp N2   &kp N3   &kp N4    &kp N5     &kp N6    &kp N7    &kp N8    &kp N9    &kp N0    &kp BSLH
            &mt LSHFT CAPS &trans   &trans   &trans   &trans    &trans     &kp PLUS  &kp MINUS &kp EQUAL &kp LBKT  &kp RBKT   &trans
                &trans     &trans   &trans   &trans   &trans    &trans     &trans    &mo 3    &kp C_NEXT &kp C_VOL_DN &kp C_VOL_UP &kp C_PP
            >;
        };

        raise {
            // ------------------------------------------------------------------------------------------------------------------
            // |    DEL  |   F1   |   F2   |   F3   |   F4   |   F5   |    F6   |    F7   |   F8   |   F9   |   F10   |   DEL   |
            // |    `    |  ___   |  ___   |  ___   |  ___   |  ___   |   ___   |    -    |   =    |   {    |    }    |   |     |
            // |  SHIFT  |   ___  |  ___   |  ___   |  ___   |  ___   |   ___   |    -    |   =    |   {    |    }    |   RET   |
            // |         |  ___   |  ___   |  ___   |  lyr3  |      SPACE       |   ___   |  back  |  fwd   |  tab L  |  tab R  |
            // ------------------------------------------------------------------------------------------------------------------
            bindings = <
                &kp DEL    &kp F1   &kp F2   &kp F3   &kp F4    &kp F5     &kp F6    &kp F7    &kp F8     &kp F9    &kp F10   &kp DEL
                &kp GRAVE  &trans   &trans    &trans  &trans    &trans     &trans   &kp MINUS  &kp EQUAL  &kp LBKT  &kp RBKT  &kp BSLH
                &trans     &trans   &trans    &trans  &trans    &trans     &trans   &kp HASH   &kp BSLH   &kp PG_UP &kp PG_DN &trans
                &trans     &trans   &trans    &trans  &mo 3     &trans     &trans   &trans   &kp RG(LBKT) &kp RG(RBKT) &kp RG(RS(LBKT)) &kp RG(RS(RBKT))
            >;
        };

        control {
            // ------------------------------------------------------------------------------------------------------------------
            // |sys_reset|bootloader| BT Clear | BT Prev | BT Next |  ___   |   ___   |   ___   |  ___   |  ___   |   ___   |   ___   |
            // |  BT  0  |   BT 1   |   BT 2   |   ___   |   ___   |  ___   |   ___   |   ___   |  ___   |  ___   |   ___   |   ___   |
            // |   ___   |    ___   |   ___    |   ___   |   ___   |  ___   |   ___   |   ___   |  ___   |  ___   |   ___   |   ___   |
            // |         |    ___   |   ___    |   ___   |   ___   |      SPACE       |   ___   |  ___   |  ___   |   ___   |   ___   |
            // ------------------------------------------------------------------------------------------------------------------
            bindings = <
                &sys_reset &bootloader &bt BT_CLR &bt BT_PRV &bt BT_NXT &trans &trans &trans &trans &trans &trans &trans
                &bt BT_SEL 0 &bt BT_SEL 1 &bt BT_SEL 2 &trans &trans &trans &trans &trans &trans &trans &trans &trans
                &trans &trans &trans &trans &trans &trans &trans &trans &trans &trans &trans &trans
                &trans &trans &trans &trans &trans &trans &trans &trans &trans &trans &trans &trans
            >;
        };
    };
};